.fake/
.idea/
.ionide/
.paket/
.vscode/
App_Data/
packages/
obj/
bin/
build/
deploy/
TestResults/
*.bak
*.user
*.suo
*.ncrunchsolution
*.ncrunchproject
*.nupkg
*.snupkg
.vs/
**/frontend/node_modules/
**/frontend/coverage/
DeploymentScripts/temp/
BenchmarkDotNet.Artifacts
paket-files/
.DS_Store
